.text_center {
    text-align: center;
}

.top_bar {
    padding: 10px 15px;
    margin-bottom: 50px;
}
.top_bar::after {
    content: '';
    display: block;
    clear: both;
}

.top_bar_left {
    float: left;
    font-size: 1.5em;
}

.top_bar_right {
    float: right;
}

.top_bar a,
.nav a {
    margin: 0 8px;
}

.login_container {
    margin: 0 auto;
    text-align: center;
    width: 700px;
}

.card_heading {
    padding: 16px;
}

.field_line, .button_line {
    padding: 16px;
    display: block;
}

.error_message {
    padding: 0 16px;
    color: tomato;
}

.success_message {
    padding: 0 16px;
    color: green;
}