.list {
    padding: 0px 50px 8px !important;
    display: inline-table !important;
    width: 600px !important;
}

.title {
    color: black !important;
    font-size: 20px !important;
}

.icon_button {
    padding: 0 !important;
}

.container {
    overflow: auto;
    padding-left: 66px;
}

.text_field {
    width: 480px !important;
}

.list_panel {
    width: 50%;
    float: left;
}