.show_info_container {
    overflow: auto;
    padding: 15px;
}

.label_info {
    margin-bottom: 5px;
    margin-right: 10px;
    line-height: 32px;
}

.flat_title {
    margin-right: 10px;
}

.image_wrapper {
    float: left;
    width: 25%;
}

.image_wrapper > div {
    padding-right: 15px;
}

.info_container {
    float: right;
    width: 75%;
    padding: 15px;
}

.info_block {
    overflow: auto;
    width:100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.info_block > span {
    float: left;
}

.list_element {
    float: left;
    margin-right: 10px;
}