.show_info_container {
    overflow: auto;
    padding: 15px;
}

.label_info {
    margin-bottom: 5px;
    margin-right: 10px;
    line-height: 32px;
}

.flat_title {
    margin-right: 10px;
}

.image_wrapper {
    float: left;
    width: 25%;
}

.image_wrapper > div {
    padding-right: 15px;
}

.info_container {
    float: right;
    width: 75%;
    padding: 15px;
}

.info_block {
    overflow: auto;
    width:100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.info_block > span {
    float: left;
}

.list_element {
    float: left;
    margin-right: 10px;
}

.header_name, .header_status {
    /*position: relative;*/
    /*bottom: 22px;*/
    display: inline-block;
}

.header_name {
    font-size: 45px;
    /*font-weight: bold;*/
}

.header_status {
    float: right;
}

.header_status_label {
    position: relative;
    bottom: 20px;
}

.header_status_select {
    float: right;
}

.header_container {
    height: 50px;
}

.rate_container {
    margin-left: 5px;
    margin-top: 20px;
}

.rate_container .rate_button {
    margin-left: 5px;
}
